<ion-header>
  <ion-toolbar>
    <ion-title>
      Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let forecast of forecastData?.list">
    <ion-card-header>
      {{ forecast?.dt_txt }}
    </ion-card-header>
    <ion-card-content>
      Temperature: {{ forecast?.main?.temp }}°C <br>
      Description: {{ forecast?.weather[0]?.description }}
    </ion-card-content>
  </ion-card>
  <ion-row style="height: 85%; position: sticky;bottom:0px">
    <ion-col>
      <ion-tabs slot="">
    
    <button routerLink="/current-weather">
   <ion-tab-button tab="forecast">
      <ion-icon name="cloudy"></ion-icon>
      <ion-label>current-weather</ion-label>
    </ion-tab-button>  
    </button>
  </ion-tabs>
    </ion-col>
  </ion-row>
  <ion-alert *ngIf="error" header="Error" message="{{ error }}"></ion-alert>
</ion-content>
